In [1]:
import mysql.connector
import time

Id = int(input("Give me a value that is one or I won't do shit."))

if Id == 1:
    connection = mysql.connector.connect(host='localhost', # Setting up the database connection
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')

    cursor1 = connection.cursor(buffered = True) # Creates a Cursor (called cursor) that connects to the database
    cursor2 = connection.cursor(buffered = True)
    
    mySql_Select_Beer_Ids = """SELECT beer_id FROM beer_types"""
    mySql_Select_Beer_Prices = """SELECT beer_price_min FROM beer_types"""
    records1 = cursor1.execute(mySql_Select_Beer_Ids)
    results1 = cursor1.fetchall()
    records2 = cursor2.execute(mySql_Select_Beer_Prices)
    results2 = cursor2.fetchall()
    rows = cursor1.rowcount
    beer_ids = []
    beer_prices = []
    
    for t in results1: 
        for x in t:
            beer_ids.append(x)
    print(beer_ids)
    
    for t in results2: 
        for x in t:
            beer_prices.append(x)
    print(beer_prices)
    
    for i in range(0,rows):
        old_price = beer_prices[i]
        new_price = old_price - 0.25
        beer_prices[i] = new_price
        print(beer_prices[i])

    mySql_Update_Beer_Prices = """UPDATE beer_types 
                                SET beer_price_min = %s 
                                WHERE beer_id = %s"""
    
    beer_prices_new = (*beer_prices,)
    cursor = connection.cursor(buffered = True)
    
    for i in range(0,rows):
        update = cursor.execute(mySql_Update_Beer_Prices,(beer_prices[i],beer_ids[i],))
        connection.commit()
    
    cursor1.close()
    cursor2.close()
    cursor.close()
    connection.close()
    
else:
    print("Moron")

Give me a value that is one or I won't do shit. 1

[1, 2, 3, 4, 5, 6]
[5.56, 5.56, 1.5, 0.75, 2.25, 2.75]
5.31
5.31
1.25
0.5
2.0
2.5