In [4]:
import time # Calls time library
import mysql.connector # Calls mySQL connector
from mysql.connector import Error # Imports error function from mySQL Connector

def increaseDrinkPrice(Id):
    try:
    
        connection = mysql.connector.connect(host='localhost', # Setting up the database connection
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')
        
        cursor = connection.cursor(buffered = True) # Creates a Cursor (called cursor) that connects to the database
        mySql_Select_Query = """SELECT beer_price_min 
                            FROM beer_types 
                            WHERE beer_id = %s""" # The "Select" Query to run to the database
        
        ##time.sleep(5) #Pause for 5 seconds
        result1 = cursor.execute(mySql_Select_Query,(Id,)) # Executes the Select Query
        record = cursor.fetchone() #Fetches the data from the Database that you just called
        record2 = record[0]
        print("The current minimum price is: ",record2)
        ##print("The row count of the table is: ", cursor.rowcount, "\n") # Prints the row count of the table
        
        time.sleep(3)
        
        record2 *= 1.25
        print("The new minimum price is:", record2)

        mySql_Update_Table_Query = """UPDATE beer_types SET beer_price_min = %s WHERE beer_id = %s"""
        cursor.execute(mySql_Update_Table_Query,(record2,Id,))
        connection.commit()
    
        ## for row in records: # Loop that will print the following values -
           ## print("ID = ", row[0]) # 'row[0]' is the call for the certain row, column 1
            ##print("Name of Beer = ", row[1]) # 'row[1]' is the call for the certain row, column 2
            ##print("Minimum Beer Price = ", row[2]) # 'row[2]' is the call for the certain row, column 3
            ##print("Maximum Beer Price = ", row[3]) # 'row[3]' is the call for the certain row, column 4
            ##print("Active Beer Price = ", row[4], "\n") # 'row[4]' is the call for the certain row, column 5
            ##time.sleep(2) # Delays next loop 2 seconds
            
        
        ##print("The beer price is: ", beer_price)

    except mysql.connector.Error as error:
        print("Failed to create table in MySQL: {}".format(error))
    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
    
def decreaseDrinkPrices():
    try:
        connection = mysql.connector.connect(host='localhost', # Setting up the database connection
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')

        cursor1 = connection.cursor(buffered = True) # Creates a Cursor (called cursor) that connects to the database
        cursor2 = connection.cursor(buffered = True) # Creates a Cursor (called cursor) that connects to the
        
        mySql_Select_Query_1 = """SELECT beer_id 
                            FROM beer_types""" # The "Select" Query to run to the database
        
        mySql_Select_Query_2 = """SELECT beer_price_min 
                            FROM beer_types""" # The "Select" Query to run to the database
        
        result1 = cursor1.execute(mySql_Select_Query_1)
        result2 = cursor2.execute(mySql_Select_Query_2)        
        records1 = list(cursor1.fetchall())
        records2 = list(cursor2.fetchall())
        rows = cursor1.rowcount
        print("The row count is: ",rows)
        for i in range(0,rows-1):
            ID = records1[i][0]
            print(ID)
            beer_price = records2[i][0]
            print("The price of Beer 1 was: ", beer_price)
            time.sleep(2)
            beer_price *= 0.9
            records2[i][2] = beer_price
            time.sleep(1)
            
            
        mySql_Update_Table_Query = """UPDATE beer_types SET beer_price_min = %s WHERE beer_id = %s"""
        records2 = tuple(records2)
        cursor.execute(mySql_Update_Table_Query,(records2,ID,))
            
    except mysql.connector.Error as error:
        print("Failed to create table in MySQL: {}".format(error))
    finally:
        if (connection.is_connected()):
            cursor1.close()
            cursor2.close()
            connection.close()
            print("MySQL connection is closed")
## Use return function to return a value that you can pass into the next function


Id = int(input("Input the Drink ID number:"))
x = 6
if Id < x:
    increaseDrinkPrice(Id)
else:
    decreaseDrinkPrices()
##elif t >= 30:
    ##decreaseDrinkPrices()
    ##t = 0
##else:
    ##t = 0

Input the Drink ID number: 6

The row count is:  6
1
The price of Beer 1 was:  7.81
MySQL connection is closed

TypeError: 'tuple' object does not support item assignment