In [1]:
import mysql.connector
import time

Id = int(input("Enter the Beer ID"))

if Id > 0:
    connection = mysql.connector.connect(host='localhost', # Setting up the database connection
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')
    cursor1 = connection.cursor(buffered = True)
    cursor2 = connection.cursor(buffered = True)
    
    mySql_Select_Beer_Price = """SELECT beer_price_active FROM beer_types WHERE beer_id = %s"""
    mySql_Update_Beer_Price = """UPDATE beer_types SET beer_price_active = %s WHERE beer_id = %s"""
    result = cursor1.execute(mySql_Select_Beer_Price,(Id,))
    record = cursor1.fetchone()
    old_beer_price = record[0]
    
    new_beer_price = old_beer_price + 0.50
    
    print(new_beer_price)
    
    update = cursor2.execute(mySql_Update_Beer_Price,(new_beer_price,Id,))
    action = connection.commit()
    
    print("The Update was successful.")

ModuleNotFoundError: No module named 'mysql'