In [ ]:
## Program that creates a table in the mySql Database (beeronomics)
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')
    

    mySql_Create_Table_Query = """CREATE TABLE shot_types ( 
                             shot_id int(11) NOT NULL,
                             shot_name varchar(255) NOT NULL,
                             shot_price_min FLOAT(5,2),
                             shot_price_max FLOAT(5,2),
                             PRIMARY KEY (shot_id)) """

    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Shot Table created successfully ")

except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

In [28]:
## Program that updates a record in a specific row ##
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')
    cursor = connection.cursor()
    mySql_Update_Table_Query = "UPDATE beer_types SET beer_price_min = %f WHERE beer_id = %d"
    val = ("5", "1")
    cursor.execute(mySql_Update_Table_Query,val)
    mydb.commit()
    print("Record Updated")
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Failed to create table in MySQL: Not all parameters were used in the SQL statement
MySQL connection is closed

In [34]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')
    cursor = connection.cursor()
    sql = "INSERT INTO beer_types(beer_id,beer_name,beer_price_min,beer_price_max) VALUES (7,%,%f,%f)"
    ##val = ("5", "1")
    cursor.execute(sql)
    connection.commit()
    print("Record Updated")
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Failed to create table in MySQL: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ','PP Kook D.I.P.A',5.00,8.00)' at line 1
MySQL connection is closed